# IN detector (channel 2 entry)
DETECTOR_IN_RTSP_URL='rtsp://admin:India123%23@192.168.2.103:554/cam/realmonitor?channel=2&subtype=0'
DETECTOR_IN_MODEL='python-scripts/yolov8n.pt'
DETECTOR_IN_ROI_FILE='python-scripts/roi_cam2.json'
DETECTOR_IN_LINE_X_MARGIN='120'
DETECTOR_IN_BACKEND='http://localhost:3001/api/entries'
