# OUT detector (second camera exit)
DETECTOR_OUT_RTSP_URL='rtsp://admin:India123%23@YOUR_OUT_CAM_IP:554/cam/realmonitor?channel=1&subtype=0'
DETECTOR_OUT_MODEL='python-scripts/yolov8n.pt'
DETECTOR_OUT_ROI_FILE='python-scripts/roi_cam_out.json'
DETECTOR_OUT_LINE_X_MARGIN='120'
DETECTOR_OUT_BACKEND='http://localhost:3001/api/entries'
