DETECTOR_ENABLED=true
DETECTOR_RTSP_URL=rtsp://admin:India123%23@192.168.2.103:554/cam/realmonitor?channel=2&subtype=0
DETECTOR_MODEL=python-scripts/yolov8n.pt
DETECTOR_ROI_FILE=python-scripts/roi_cam2.json
DETECTOR_LINE_MARGIN=120
DETECTOR_BACKEND=http://localhost:3001/api/entries
DETECTOR_DEVICE=cuda:0
DETECTOR_GSTREAMER_ONLY=true
DETECTOR_YOLO_IMGSZ=640
DETECTOR_YOLO_HALF=auto
DETECTOR_FACE_RECOGNITION=true
DETECTOR_FACE_DB_DIR=python-scripts/known_faces
DETECTOR_EMPLOYEE_API=http://localhost:3001/api/employees
DETECTOR_FACE_MATCH_THRESHOLD=0.45
DETECTOR_OUT_ENABLED=false
DETECTOR_OUT_RTSP_URL=rtsp://admin:India123%23@YOUR_OUT_CAM_IP:554/cam/realmonitor?channel=1&subtype=0
DETECTOR_OUT_MODEL=python-scripts/yolov8n.pt
DETECTOR_OUT_ROI_FILE=python-scripts/roi_cam_out.json
DETECTOR_OUT_LINE_MARGIN=120
DETECTOR_OUT_BACKEND=http://localhost:3001/api/entries
DETECTOR_OUT_DEVICE=cuda:0
DETECTOR_OUT_GSTREAMER_ONLY=true
DETECTOR_OUT_YOLO_IMGSZ=640
DETECTOR_OUT_YOLO_HALF=auto
